@model BackEnd.Entities.Reclutador

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Reclutador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CorreoReclutador" class="control-label"></label>
                <input asp-for="CorreoReclutador" class="form-control" readonly/>
                <span asp-validation-for="CorreoReclutador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreReclutador" class="control-label"></label>
                <input asp-for="NombreReclutador" class="form-control" />
                <span asp-validation-for="NombreReclutador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoReclutador" class="control-label"></label>
                <input asp-for="ApellidoReclutador" class="form-control" />
                <span asp-validation-for="ApellidoReclutador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compania" class="control-label"></label>
                <input asp-for="Compania" class="form-control" />
                <span asp-validation-for="Compania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoReclutador" class="control-label"></label>
                <input asp-for="TelefonoReclutador" class="form-control" />
                <span asp-validation-for="TelefonoReclutador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
