@model FrontEnd.Models.CandidatoViewModel

<div class="col-6 grid-margin stretch-card" style="margin-left: auto;margin-right: auto;">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información del candidato</h4>
            <form class="forms-sample" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NombreCandidato" class="control-label"></label>
                    <input asp-for="NombreCandidato" class="form-control" readonly/>
                    <span asp-validation-for="NombreCandidato" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoCandidato" class="control-label"></label>
                    <input asp-for="ApellidoCandidato" class="form-control" readonly/>
                    <span asp-validation-for="ApellidoCandidato" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpCandidato" class="control-label"></label>
                    <input asp-for="ExpCandidato" type="text" class="form-control"  readonly/>
                    <span asp-validation-for="ExpCandidato" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GradoEstudio" class="control-label"></label>
                    <input asp-for="GradoEstudio" class="form-control" readonly/>
                    <span asp-validation-for="GradoEstudio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TelefonoCandidato" class="control-label"></label>
                    <input asp-for="TelefonoCandidato" class="form-control" readonly/>
                    <span asp-validation-for="TelefonoCandidato" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoriaDescripcion" class="control-label"></label>
                    <input asp-for="CategoriaDescripcion" class="form-control" readonly/>
                    <span asp-validation-for="CategoriaDescripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CorreoUsuario" class="control-label"></label>
                    <input asp-for="CorreoUsuario" class="form-control" readonly/>
                    <span asp-validation-for="CorreoUsuario" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>
